// COLOR VARIABLES
$color-primary: #fff;
$color-primary-dark: #fff;

$color-secondary: #fff;

$color-grey-light-1: #fff;
$color-grey-light-2: #fff;

$color-grey-dark-1: #fff;
$color-grey-dark-2: #fff;

