*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.6rem;
  background-color: #f9f9f9;
  color: #292929; }

/*  */
/* Utility Classes */
/*  */
.hidden {
  display: none !important; }

@media only screen and (max-width: 43.75em) {
  .hidden-sm {
    display: none; } }

.txt-center {
  text-align: center; }

.mb-xxs {
  margin-bottom: 1rem !important; }

.mb-xs {
  margin-bottom: 2rem; }

.mb-sm {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-sm {
      margin-bottom: 2rem; } }

.mb-md {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-md {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .mb-md {
      margin-bottom: 2rem; } }

.mb-lg {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-lg {
      margin-bottom: 4rem; } }

.mb-hg {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-hg {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-hg {
      margin-bottom: 2rem; } }

.mb-huuuge {
  margin-bottom: 10rem; }

.mb-xl-huuuge {
  margin-bottom: 14rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-xl-huuuge {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-xl-huuuge {
      margin-bottom: 6rem; } }

.mb-xxl-huuuge {
  margin-bottom: 20rem; }
  @media only screen and (max-width: 68.75em) {
    .mb-xxl-huuuge {
      margin-bottom: 14rem; } }

.mt-xs {
  margin-top: 2rem; }

.mt-sm {
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .mt-sm {
      margin-top: 2rem; } }

.mt-md {
  margin-top: 4rem; }
  @media only screen and (max-width: 68.75em) {
    .mt-md {
      margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .mt-md {
      margin-top: 0rem; } }

.mt-lg {
  margin-top: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .mt-lg {
      margin-bottom: 4rem; } }

.mt-hg {
  margin-top: 7rem; }

.mt-huuuge {
  margin-top: 10rem; }

.mt-xl-huuuge {
  margin-top: 14rem; }

.mt-xxl-huuuge {
  margin-top: 20rem; }

.header {
  padding-top: 4vw; }

.navigation {
  position: relative;
  padding: 0.5rem 8vw;
  margin: 0 auto;
  z-index: 1000; }
  @media only screen and (min-width: 48.0625em) {
    .navigation {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      align-items: center; } }
  .navigation__logo {
    font-size: 2.2rem;
    display: block;
    max-height: 3vw;
    max-width: 25rem; }
    @media only screen and (min-width: 48.0625em) {
      .navigation__logo {
        margin-top: 0;
        min-width: 25rem; } }
  .navigation__mobile-toggle {
    position: absolute;
    top: 4vw;
    right: 2rem;
    z-index: 2000;
    margin-right: 8vw;
    text-align: center;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #4173f9; }
    @media only screen and (min-width: 769px) {
      .navigation__mobile-toggle {
        display: none; } }
  .navigation__list {
    display: none;
    flex-direction: column;
    padding: 2rem 8vw;
    background-color: #f9f9f9; }
    @media only screen and (min-width: 769px) {
      .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0; } }
  .navigation__item {
    margin: 1rem auto; }
    @media only screen and (min-width: 769px) {
      .navigation__item {
        margin: 0; } }
  .navigation__link {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.085rem;
    font-weight: bold;
    text-decoration: none;
    color: #292929;
    padding: 1rem 1.5rem;
    display: block; }
    @media only screen and (min-width: 769px) {
      .navigation__link {
        font-size: 1.7rem;
        line-height: 2.3rem;
        letter-spacing: 0.085rem;
        font-weight: bold; } }
    .navigation__link:hover {
      color: #4173f9; }
  .navigation__checkbox:checked ~ .navigation > .navigation__list {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: -webkit-linear-gradient(-17.51deg, #2e1f0f 0%, #3d2915 10.26%, #48301a 24.46%, #4f351d 44.47%, #51361e 100%) no-repeat; }
  .navigation__checkbox:checked ~ .flex-center > .heading-container {
    visibility: hidden;
    opacity: 0; }
  .navigation__checkbox:checked ~ .header__container {
    visibility: hidden;
    opacity: 0;
    min-height: 33rem; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #f9f9f9;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem;
      transform-origin: center; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__mobile-toggle:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__mobile-toggle:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__mobile-toggle .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__mobile-toggle .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__mobile-toggle .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
