// COLOR VARIABLES
$color-primary: #4173f9;

$color-secondary: #808080;
$color-secondary-light-1: #b2b2b2;
$color-secondary-light-2: #828282;

$color-grey-dark-1: #292929;
$color-grey-dark-2: #464646;
$color-grey-dark-3: #6c6c6c;

$color-black: #292929;
$color-white: #f9f9f9;

$padding-general-side: 8vw;

$font-face: 'Roboto', sans-serif;

// @font-face {
// 	font-family: 'Roboto';
// 	font-weight: thin;
// 	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
// }

// @font-face {
// 	font-family: 'Roboto';
// 	font-weight: normal;
// 	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
// }

// @font-face {
// 	font-family: 'Roboto';
// 	font-weight: 500;
// 	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
// }

// @font-face {
// 	font-family: 'Roboto';
// 	font-weight: 700;
// 	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
// }

// RESPONSIVE BREAKPOINTS
$bp-largestest: #{(1600/16)}em; // 1200px / 16 = 75em
$bp-largest: #{(1400/16)}em; // 1200px / 16 = 75em
$bp-larger: #{(1100/16)}em; // 1200px / 16 = 75em
$bp-large: #{(900/16)}em; // 900 / 16 = 62.5em
$bp-medium-larger: #{(700/16)}em; // 900 / 16 = 62.5em
$bp-medium: #{(600/16)}em; // 700px / 16 = 50em
$bp-small-medium: #{(500/16)}em; // 700px / 16 = 50em
$bp-small: #{(400/16)}em; // 600px / 16 = 37.5em
$bp-smallest: #{(350/16)}em; // 600px / 16 = 37.5em

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: $font-face;
	font-weight: normal;
	line-height: 1.6rem;
	background-color: $color-white;
	color: $color-black;
}

/*  */
/* Utility Classes */
/*  */

.hidden {
	display: none !important;
	// max-height: 0 !important;
	// overflow: hidden !important;
	// padding: 0 !important;
}

.hidden-sm {
	@media only screen and (max-width: $bp-medium-larger) {
		display: none;
	}
}

.txt-center {
	text-align: center;
}

.mb-xxs {
	margin-bottom: 1rem !important;
}
.mb-xs {
	margin-bottom: 2rem;
}
.mb-sm {
	margin-bottom: 3rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 2rem;
	}
	// @media only screen and (max-width: $bp-medium) {
	// 	margin-bottom: 3rem;
	// }
}
.mb-md {
	margin-bottom: 4rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 3rem;
	}
	@media only screen and (max-width: $bp-large) {
		margin-bottom: 2rem;
	}
}
.mb-lg {
	margin-bottom: 5rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 4rem;
	}
}
.mb-hg {
	margin-bottom: 7rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 4rem;
	}
	@media only screen and (max-width: $bp-medium) {
		margin-bottom: 2rem;
	}
}
.mb-huuuge {
	margin-bottom: 10rem;
}
.mb-xl-huuuge {
	margin-bottom: 14rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 10rem;
	}
	@media only screen and (max-width: $bp-medium) {
		margin-bottom: 6rem;
	}
}
.mb-xxl-huuuge {
	margin-bottom: 20rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 14rem;
	}
}
.mt-xs {
	margin-top: 2rem;
}
.mt-sm {
	margin-top: 3rem;
	@media only screen and (max-width: $bp-large) {
		margin-top: 2rem;
	}
}
.mt-md {
	margin-top: 4rem;
	@media only screen and (max-width: $bp-larger) {
		margin-top: 2rem;
	}
	@media only screen and (max-width: $bp-medium) {
		margin-top: 0rem;
	}
}
.mt-lg {
	margin-top: 5rem;
	@media only screen and (max-width: $bp-larger) {
		margin-bottom: 4rem;
	}
}
.mt-hg {
	margin-top: 7rem;
}
.mt-huuuge {
	margin-top: 10rem;
}
.mt-xl-huuuge {
	margin-top: 14rem;
}
.mt-xxl-huuuge {
	margin-top: 20rem;
}
